<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETMINES</title>
    <script src="https://use.fontawesome.com/bef38aafb0.js"></script>
     <link rel="stylesheet" href="style.css">
</head>
<body>
   <nav class="navbar">
       <div class="container">
           <h1 class="logo">Netmines</h1>
           <ul class="nav">
               <li><a href="#home" class="link">About</a></li>
               <li><a href="#About" class="btn">Account</a></li>
           </ul>
       </div>
   </nav> 


   <!-- SHOWCASE -->

   <section class="section-a">
       <div class="container">
           <div>
               <h1>The phones of the future</h1>
               <p>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Aliquam, dicta sunt nostrum,
                    
                    reprehenderit aspernatur consequatur.</p>
                    <a href="" class="btn">Read More</a>
           </div>
           <img src="images/pic1.jpg" alt>
       </div>
   </section>

   <!-- Overlay Text -->

   <section class="section-b">
       <div class="overlay">
           <div class="section-b-inner">
               <h3>Loud & Clear</h3>
               <h2>People Are Hearing </h2>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In cupiditate et a laborum dolores debitis
                    asperiores? Hic ut voluptas labore.</p>
           </div>
       </div>
   </section>

   <!-- Gallery -->
 <section class="section">
    <div class="gallery">

     <a href="images/pic4.jpg" class="big"><img src="images/pic4.jpg" alt=""></a>
     <a href="images/pic5.jpg" class="big"><img src="images/pic5.jpg" alt=""></a>
     <a href="images/pic6.jpg" class="big"><img src="images/pic6.jpg" alt=""></a>
     <a href="images/pic7.jpg" class="big"><img src="images/pic7.jpg" alt=""></a>
     <a href="images/pic8.jpg" class="big"><img src="images/pic8.jpg" alt=""></a>
     <a href="images/pic3.jpg" class="big"><img src="images/pic3.jpg" alt=""></a>
  

    </div>
 </section> 
 
 
 <!-- Footer -->

 <footer class="section-footer">
     <div class="container">
         <div>
             <h2>Lorem ipsum dolor sit</h2>
             <a href="#linkedin">
                 <i class="fab fa-twitter fa-2x"></i>
             </a>

             <a href="#twitter">
                <i class="fab fa-twitter fa-2x"></i>
            </a>

            <a href="#youtube">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
         </div>
         <div>
         <h3>Company info</h3>
          <ul>
             <li><a href="#">All Products</a> </li>
             <li><a href="#">About Us</a> </li>
             <li><a href="#">Privacy Policy</a> </li>
             <li><a href="#">Terms of service</a> </li>
         </ul>
        </div>

   <div>
    <h3>Blog posts</h3>
         <ul>
            <li><a href="#">Lorem</a> </li>
            <li><a href="#">United</a> </li>
            <li><a href="#">Takers</a> </li>
            <li><a href="#">Winners</a> </li>
         </ul>
        </div>
             
         <div>
             <h3>Subscribe</h3>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
             <form name="email-form" method="post" data-netlify="true">
               <div class="email-form">
                   <span class="form-control-wrap">
                   <input type="email" name="email" id="email" size="40" class="form-control" placeholder="Email">
                </span>
                <button type="submit" class="form-control submit">
                    <i class="fas fa-chevron-right"></i>
                </button>
               </div>
             </form>
         </div>
     </div>

 </footer>

 <script src="jsmin"></script>
</body>
</html>